.ruler,
.ruler li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.ruler,
.ruler li {
    *display: inline;
}
.ruler {
    background: #fff;
    border-radius: 2px;
    color: #8b8b8b;
    margin: 0;
    height: 2em;
    padding-right: 20px;
    white-space: nowrap;
    font-size: 9px;
}
.ruler li {
    padding-left: 30px;
    width: 2em;
    margin: .64em -1em -.64em;
    text-align: center;
    position: relative;
}
.ruler li:before {
    content: '';
    position: absolute;
    border-left: 2px solid #c1bfbf;
    height: .64em;
    top: .94em;
    right: 1em;
}
